.choice
{
    background-image: url('lightstick.jpg');
    background-size: 200%;
    background-position-x: 50%;
    background-position-y: 32%;
    color: palevioletred;
    color: ho;
}
.navbar
{
    height: 500 px;
    width: 500 px;
}
.carousel-item
{
    height: 550px;
}

body
{
    background-image: url('btg.jpeg');
    background-size: 500%;
}

